<!--! <link rel="stylesheet" href="/css/inicialPage.css"> -->

<footer>
    <div class="box">
        <h3 class="poppins-bold">Navega conosco</h3>
        <hr>
        <ul>
            <li><a class="poppins-regular" href="">Inicio</a></li>
            <li><a class="poppins-regular" href="">Contacto</a></li>
            <li><a class="poppins-regular" href="">Sobre</a></li>
            <li><a class="poppins-regular" href="">Localizaçao</a></li>
        </ul>
    </div>
    <hr>
    <div class="box">
        <h3 class="poppins-bold">Contacta-nos</h3>
        <hr>
        <ul>
            <li><a class="poppins-regular" href="">Suporte</a></li>
            <li><a class="poppins-regular" href="">Pergunta frequentes</a></li>
            <li><a class="poppins-regular" href="">Ajuda</a></li>
        </ul>
    </div>
    <hr>
    <div class="box">
        <img src="/images/bowser-jr.png" class="bowser-jr" width="250" height="230" alt="">
    </div>
    <hr>
    <div class="box">
        <h3 class="poppins-bold">Segue-nos</h3>
        <hr>
        <ul>
            <li><a class="poppins-regular" href="">Instagram</a></li>
            <li><a class="poppins-regular" href="">X</a></li>
            <li><a class="poppins-regular" href="">Reddit</a></li>
            <li><a class="poppins-regular" href="">TikTok</a></li>
        </ul>
    </div>
</footer>
<div class="credits-section">
    <h4 class="poppins-bold">Flappy Big. Lmt. All Rights Reserverd@ ª</h4>
</div>


<script src="/javascript/DOMVIEW.js"></script>
</body>

</html>