<!--! <link rel="stylesheet" href="/css/inicialPage.css"> -->

</head>
<body>
    <header class="nav-header">
        <nav class="navbar">
            <div class="left-section">
                <img src="/images/flappybid.png" width="100" height="50" alt="">
            </div>
            <div class="right-section">
                <ul class="list-items">
                    <li><a class="poppins-bold" href="/">Inicio</a></li>
                    <li><a class="poppins-bold" href="">Sobre nós</a></li>
                    <li><a class="poppins-bold" href="/auction">Leilões</a></li>
                    <li><a class="poppins-bold" href=""></a></li>
                    <% if(login.isLogged) { %>
                    <li><a href="/auth/profile"><Button class="poppin-regular" id="profile">Profile</Button></a></li>
                    <% }else{ %>
                        <li><Button class="poppin-regular" id="login-button">Login</Button></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>
    <script src="/javascript/login.js" defer></script>