<!--! <link rel="stylesheet" href="/css/inicialPage.css"> -->

</head>
<body>
    <header class="nav-header">
        <nav class="navbar">
            <div class="left-section">
                <img src="/images/flappybid.png" width="100" height="50" alt="">
            </div>
            <div class="right-section">
                <ul class="list-items">
                    <li><a class="poppins-bold" href="">Inicio</a></li>
                    <li><a class="poppins-bold" href="">Mensagens</a></li>
                    <li><a class="poppins-bold" href="">Leilões</a></li>
                    <li><a class="poppins-bold" href="">Perfil</a></li>
                    <li><Button class="poppin-regular" id="log-in">Registo</Button></li>
                </ul>
            </div>
        </nav>
    </header>