@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    /*background-image: url('/images/inicialBackground.jpg');  Substitua com o caminho da sua imagem */
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(21, 25, 112, 1) 62%, rgba(4, 14, 17, 1) 100%);
    height: 100%; /* Garante que o background ocupe 100% da altura da viewport */
    width: 100%; /* Garante que ocupe toda a largura */
    overflow-x: hidden;
}

.main-section{
    width: 100%;
    height: 100vh;
    display: flex;
}

.main-section .mario{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.main-section h2{
    padding: 10px;
}

.main-section p{
    padding: 10px;
}

.main-section .left-section{
    padding: 20px;
    width: 60%;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    margin-left: 60px;
}

.main-section .left-section button{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px 0px 10px;
    border: none;
    background-color: rgb(220, 168, 55);
    color: #ffffff;
}

.main-section .right-section{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section .right-section img{
    position: relative;
    margin-top: 400px;
    width: 80%;
    height: 100%;
}

.description-section{
    height: 450px;
    width: 100%;
    background-color: #ffffff;
}

.description-section .description-header-section{
    background-color: rgb(220, 168, 55);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
}

.description-section .description-content-section{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.company-section{
    width: 100%;
    height: 450px;
    background-color: #ffffff;
}

.company-section .company-header-section{
    width: 100%;
    height: 150px;
    background-color: #44AF35;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
}

.company-section .company-content-section{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.company-section .company-content-section .box{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bids-section{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    background-image: linear-gradient(to bottom, #009BD9, #86d0ee);
}

.bids-section .left-section {
    padding: 10px;
    width: 20%;
    height: 90vh;
}

.bids-section .left-section img{
    width: 500px;
    height: 100%;
    margin-top: 30px;
    z-index: 1;
    position: relative;
}

.bids-section .right-section{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.bids-section .right-section h1{
    color: #ffffff;
    font-size: 40px;
}

.bids-section .right-section .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.bids-section .right-section .box-container .box{
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    flex: calc(25% - 10px);
    width: 270px;
    height: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}

.bids-section .right-section .box-container .box:hover{
    transform: translateY(-3px);
    transition: 0.5s;
}

.bids-section .right-section .box-container .box .game{
    width: 100%;
    height: 50%;
    border-radius: 6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.bids-section .right-section .box-container .box .green-mushroom {
    width: 120px;
    margin-top: 160px;
    margin-left: 130px;
    z-index: -0.5;
    height: 90px;
    position: absolute;
    border-radius: 6px;
}

.bids-section .right-section .box-container .box h5, p{
    z-index: 1;
}

.bids-section .right-section .box-container .box button {
    width: 100%;
    height: 13%;
    margin-top: auto;
    border-radius: 6px;
    border: none;
    background-color: rgb(220, 168, 55);
    color: #ffffff;
    transition: 0.5s;
}

.bids-section .right-section .box-container .box button:hover{
    background-color: #ffffff;
    color: rgb(220, 168, 55);
    transition: 0.5s;
    border: 1px solid rgb(220, 168, 55);
}

.bids-section .floor{
    position: absolute;
    width: 100%;
    height: 600px;
    margin-top: 330px;
}

.social-section{
    background-color: #ffffff;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
}

.social-section h1{
    color: #000000;
    font-size: 40px;
}

.social-section p{
    margin-top: 10px;
}

.social-section .social-icons-section{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.social-section .social-icons-section img:hover{
    cursor: pointer;
}

footer .box img {
    position: relative;
    bottom: 50px;
    left: 15%;
}

/*! Fontes */

.open-sans-regular {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-bold {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1200px) {
    .bids-section {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        padding: 20px;
    }

    .bids-section .floor{
        display: none;
    }

    .bids-section .right-section .box-container .box .green-mushroom{
        display: none;
    }

    .bids-section .left-section {
        width: 100%;
        height: auto;
        padding: 10px;
        display: none; /* Hide left section on small screens */
    }

    .bids-section .right-section {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .bids-section .right-section .box-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .bids-section .right-section .box-container .box {
        width: calc(50% - 20px); /* Allow two cards per row */
        height: 320px;
        padding: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 768px) {
    .main-section {
        flex-direction: column;
        height: 80vh;
    }

    .main-section .left-section {
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }

    .main-section .right-section {
        width: 100%;
        margin-top: 20px;
        display: none; /* Hide right section on small screens */
    }

    .description-section {
        height: auto;
    }

    .description-section .description-header-section {
        height: 120px;
        padding: 20px;
        font-size: 20px;
    }

    .description-section .description-content-section {
        height: auto;
        padding: 20px;
    }

    .company-section {
        height: auto;
    }

    .company-section .company-header-section {
        height: 120px;
        padding: 20px;
        font-size: 20px;
    }

    .company-section .company-content-section {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 40px;
    }

    .bids-section {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .bids-section .floor{
        display: none;
    }

    .bids-section .left-section {
        width: 100%;
        height: auto;
        padding: 10px;
        display: none; /* Hide left section on small screens */
    }

    .bids-section .right-section {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .bids-section .right-section .box-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .bids-section .right-section .box-container .box {
        width: 100%;
        height: auto;
        padding: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .social-section {
        height: auto;
        padding: 10px;
    }

    .social-section .social-icons-section {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .social-section .social-icons-section .social-media{
        width: 100px;
        height: 100px;
    }

    .main-section h2, .main-section p, .description-section .description-header-section, .description-section .description-content-section, .company-section .company-header-section, .company-section .company-content-section, .bids-section .right-section h1, .social-section h1, .social-section p {
        text-align: center;
        padding: 10px;
    }

    .main-section .left-section button, .bids-section .right-section .box-container .box button {
        width: 100%;
        height: 50px;
        margin: 10px 0;
    }
}