<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auctions.css">
<%- include('../includes/navbar.ejs') %>
<main class="main-section">
    <img src="/images/background.jpg" alt="">
    <div class="middle-section">
        <div class="text-section">
            <h1 class="poppins-bold">Começa já a tua aventura no flappy bid</h1>
            <p class="poppins-regular">Junta-te a mais de 200.000 Vendedores de confiança</p>
            <p class="poppins-regular">e vem trazer uma nova vida aos video-jogos</p>
        </div>
        <div class="button-section">
            <button class="poppins-bold find">Encontrar leilão</button>
            <button class="poppins-bold create">Criar leilão</button>
        </div>
    </div>
</main>
<%- include('../includes/end.ejs') %>