<dialog id="add-auction-form" style="display: none">
    <img src="/images/luigi.png" alt="">
    <div class="header">
        <h1 class="poppins-bold">Create Auction</h1>
    </div>
    <form action="" method="dialog">
        <div class="form-group poppins-bold">
            <label for="">Name</label>
            <input type="text" name="title" class="poppins-regular" placeholder="Title">
        </div>
        <div class="form-group poppins-bold">
            <label for="">Category</label>
            <select name="consoles" class="poppins-bold" id="consoles">
                <option value="volvo">Nintendo</option>
                <option value="saab">Playstation</option>
                <option value="mercedes">XBox</option>
                <option value="audi">PSP</option>
            </select>
        </div>
        <div class="form-group poppins-bold">
            <label for="">State</label>
            <select name="consoles" class="poppins-bold" id="consoles">
                <option value="volvo">Excelent</option>
                <option value="saab">Very Good</option>
                <option value="mercedes">Good</option>
            </select>
        </div>
        <div class="form-group poppins-bold">
            <label for="">Price</label>
            <input type="number" name="price" placeholder="Price/€">
        </div>
        <div class="upload-btn">
            <button class="btn poppins-bold">Upload a file</button>
            <input type="file" name="myfile" />
        </div>
        <button class="create-btn poppins-bold">Create</button>
    </form>
</dialog>
