<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicialPage.css">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>
    <header class="nav-header">
        <nav class="navbar">
            <div class="left-section">
                <img src="/images/flappybid.png" width="100" height="50" alt="">
            </div>
            <div class="right-section">
                <ul class="list-items">
                    <li><a class="open-sans-bold" href="">Inicio</a></li>
                    <li><a class="open-sans-bold" href="">Sobre</a></li>
                    <li><a class="open-sans-bold" href="">Leiloes</a></li>
                    <li><Button class="btn-login">Registo</Button></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="main-section">
        <div class="left-section">
            <h2 class="open-sans-bold">Seja muito bem vindo, onde coisas velhas ganham vida</h2>
            <p class="open-sans-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam suscipit aut id <br> obcaecati earum odit. Vel illum nostrum voluptatibus, eius facere obcaecati perferendis <br> consequuntur exercitationem, at aspernatur labore ducimus rem.</p>
            <button>Registo</button>
        </div>
        <div class="right-section">
            <img src="/images/flappybid.png" width="400" height="400" alt="">
        </div>
    </section>
</body>
</html>