<dialog style="display: none;" id="log-in-form">
    <img class="background" src="/images/background-login.jpg" alt="">
    <div class="left-section">
        <div class="header">
            <div class="signin">
                <h4 class="poppins-bold">Sign In</h4>
            </div>
            <div class="line"></div>
            <div class="login">
                <h4 class="poppins-bold">Log in</h4>
            </div>
        </div>
        <form method="dialog">
            <div class="form-field">
                <label class="poppins-bold" for="">Username</label>
                <input type="text" class="poppins-regular" placeholder="Username here..." />
            </div>
            <div class="form-field">
                <label class="poppins-bold" for="">Email</label>
                <input type="text" class="poppins-regular" placeholder="Email here..." />
            </div>
            <div class="form-field">
                <label class="poppins-bold" for="">Password</label>
                <input type="text" class="poppins-regular" placeholder="Password here..." />
            </div>
            <div class="form-field">
                <label class="poppins-bold" for="">Confirm Password</label>
                <input type="text" class="poppins-regular" placeholder="Confirm Passowrd here..." />
            </div>
            <div class="terms-section">
                <input class="checkbox" type="checkbox">
                <p class="poppins-regular">Terms and Conditions</p>
            </div>
            <button class="signin-button poppins-bold" type="submit">Sign In</button>
            <button class="google-button poppins-bold" ><img src="/images/google.png" alt=""><span>Sign In With Google</span></button>
            <button class="facebook-button poppins-bold"><img src="/images/fb.png" alt=""><span>Sign In With Facebook</span></button>
        </form>
    </div>
    <div class="right-section">
        <div class="logos">
            <div class="social-container">
                <img src="/images/social.png" alt="">
                <h5 class="steam poppins-bold">Steam</h5>
            </div>
            <div class="social-container">
                <img src="/images/instagram.png" alt="">
                <h5 class="instagram poppins-bold">Instagram</h5>
            </div>
            <div class="social-container">
                <img src="/images/reddit.png" alt="">
                <h5 class="reddit poppins-bold">Reddit</h5>
            </div>
        </div>
        <div class="content-text">
            <p class="poppins-bold social-text">Follow us on social media, and be closer to us</p>
            <div class="line"></div>
            <p class="poppins-bold social-text">Dont forget to also follow our spredsheet, to be aware of our new actions</p>
            <p class="poppins-bold social-text">to be aware of our new actions</p>
        </div>
        <div class="support-section">
            <div class="support-text">
                <p class="poppins-regular">Are you having issues Log/Sin in? Contact Us Now!</p>
            </div>
            <div class="support-button">
                <button class="poppins-bold">Contact us</button>
            </div>
        </div>
    </div>
</dialog>