<dialog class="login-dialog" style="display: none;" id="login-dialog">
    <img src="/images/leave.png" id="close-login" class="close-login" alt="">
    <img class="background" src="/images/background-login.jpg" alt="">
    <div class="left-section">
        <div class="header">
            <div class="signin active" id="signin-tab">
                <h4 class="poppins-bold">Sign In</h4>
            </div>
            <div class="line"></div>
            <div class="login inactive" id="login-tab">
                <h4 class="poppins-bold">Log in</h4>
            </div>
        </div>
        <form method="POST" id="signin-form" action="/auth/signin">
            <p class="poppins-bold result-message"></p>
            <div class="form-field">
                <label class="poppins-bold" for="">Username</label>
                <input type="text" class="poppins-regular" name="username" placeholder="Username here..." required/>
            </div>
            <div class="form-field">
                <label class="poppins-bold" for="">Email</label>
                <input type="email" class="poppins-regular" name="email" placeholder="Email here..." required/>
            </div>
            <div class="form-field">
                <label class="poppins-bold" for="">Password</label>
                <input type="password" class="poppins-regular" name="password" placeholder="Password here..." required/>
            </div>
            <div class="form-field">
                <label class="poppins-bold" for="">Confirm Password</label>
                <input type="password" class="poppins-regular" name="confirmPassword" placeholder="Confirm Passowrd here..." required/>
            </div>
            <div class="terms-section">
                <input class="checkbox" type="checkbox">
                <p class="poppins-regular">Termos e Condições</p>
            </div>
            <button class="signin-button poppins-bold" type="submit">Sign In</button>
            <button class="google-button poppins-bold" ><img src="/images/google.png" alt=""><span>Sign In With Google</span></button>
            <button class="facebook-button poppins-bold"><img src="/images/fb.png" alt=""><span>Sign In With Facebook</span></button>
        </form>
        <form method="POST" id="login-form" style="display: none;" action="/auth/login">
            <div class="form-field">
                <label class="poppins-bold" for="">Username</label>
                <input type="text" class="poppins-regular" name="username" placeholder="Username here..." required/>
            </div>
            <div class="form-field">
                <label class="poppins-bold" for="">Password</label>
                <input type="password" class="poppins-regular" name="password" placeholder="Password here..." required/>
            </div>
            <div class="terms-section">
                <input class="checkbox" type="checkbox">
                <p class="poppins-regular">Manter sessão iniciada</p>
            </div>
            <button class="signin-button poppins-bold" type="submit">Log In</button>
            <button class="google-button poppins-bold"><img src="/images/google.png" alt=""><span>Log In With Google
                    Google</span></button>
            <button class="facebook-button poppins-bold"><img src="/images/fb.png" alt=""><span>Log In With
                    Facebook</span></button>
        </form>
    </div>
</dialog>