<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/profile.css">
<%- include('../includes/navbar.ejs') %>
    <main>
        <img src="/images/initialBack.jpg" class="mario" alt="">
        <div class="sub-main">
            <div class="left-section">
                <div class="top-section">
                    <div class="image-profile">
                    </div>
                </div>
                <div class="separator"></div>
                <h1 class="poppins-bold">Leandro Francisco</h1>
                <button class="alt-name poppins-bold">Alterar Nome<img src="/images/edit.png" width="30" height="30" class="edit" alt=""></button>
            </div>
            <div class="right-section">
                
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>