<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/us.css">
<%- include('../includes/navbar.ejs') %>
    <main class="main-section">
        <img src="/images/mario-gold.jpg" class="mario-gold" alt="">
        <div class="cards-container">
            <div class="card">
                <div class="card-content">
                    <img src="/images/mario.png" class="toad" alt="">
                    <div class="divider"></div>
                    <div class="info-section">
                        <h1 class="poppins-bold">Tomás Rocha</h1>
                        <h3 class="poppins-bold">966-439-193</h3>
                        <h3 class="poppins-bold">tomrocha@deloitte.pt</h3>
                        <h3 class="poppins-bold">202309093</h3>
                        <div class="sub-divider"></div>
                        <p class="poppins-regular">Responsible for the logic, overall implementation and support.</p>
                    </div>
                    <div class="social-media-buttons">
                        <a href="#" class="social-button"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-button"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-button"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="/images/luigi-fizz.png" class="toad" alt="">
                    <div class="divider"></div>
                    <div class="info-section">
                        <h1 class="poppins-bold">Guilherme Fidalgo</h1>
                        <h3 class="poppins-bold">963-183-122</h3>
                        <h3 class="poppins-bold">gfidalgo@deloitte.pt</h3>
                        <h3 class="poppins-bold">202300710</h3>
                        <div class="sub-divider"></div>
                        <p class="poppins-regular">Responsible for the data base configuration and implementation.</p>
                    </div>
                    <div class="social-media-buttons">
                        <a href="#" class="social-button"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-button"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-button"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img src="/images/toadette.jpg" class="toad" alt="">
                    <div class="divider"></div>
                    <div class="info-section">
                        <h1 class="poppins-bold">Maria Eduarda</h1>
                        <h3 class="poppins-bold">931-985-198</h3>
                        <h3 class="poppins-bold">mariaeduarda@deloitte.pt</h3>
                        <h3 class="poppins-bold">202300717</h3>
                        <div class="sub-divider"></div>
                        <p class="poppins-regular">Responsible for the styling and design of the whole platform.</p>
                    </div>
                    <div class="social-media-buttons">
                        <a href="#" class="social-button"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-button"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-button"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>